@model List<KnjigaModel>
@{
    Layout = "_Layout";
}

<div>
    <h1>Prikaz svih knjiga</h1>
    <hr>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Zanr</th>
            <th></th>
        </tr>
        @foreach (var k in Model)
        {
            @if (!k.Izbrisana)
            {
                <tr>
                    <td>@k.Id</td>
                    <td>@k.Naziv</td>
                    <td>@k.Cena</td>
                    <td>@k.Zanr.NazivZanra</td>
                    <td><a href="/Knjizara/Obrisi?id=@k.Id">Obrisi</a></td>
                    <td><a href="/Knjizara/Izmeni?id=@k.Id">Izmeni</a></td>
                </tr>
            }
        }
    </table>
    <div class="sortiranje">
        <form action="/Knjizara/Sortiraj" method="post">
            <input type="hidden" name="tipListe" value="sve" />
            <select class="form-select" name="nacin">
                <option value="1">Po naslovu - rastuce</option>
                <option value="2">Po naslovu - opadajuce</option>
                <option value="3">Po ceni - rastuce</option>
                <option value="4">Po ceni - opadajuce</option>
            </select><br />
            <div class="text-center">
                <input type="submit" value="Sortiraj" class="btn btn-outline-primary" />
            </div>
        </form>
        <div class='mt-4 btn btn-primary'><a class="nedekorisan" href='/Knjizara/Index'>Pocetna stranica</a></div>
    </div>
</div>