
@model Knjizara.Models.KnjigaModel
@{
    Layout = "_Layout";
}
<div>
    <h1>Greska - Knjiga vec postoji</h1>
    <h2 class="text-center">Knjiga <em>"@Model.Naziv"</em> vec postoji.<br />Vratite se na pocetnu stranicu i pokusajte ponovo</h2>
    <div class="sortiranje">
        <div class='mt-4 btn btn-primary'><a class="nedekorisan" href='/Knjizara/Index'>Pocetna stranica</a></div>
    </div>
</div>