@model List<ZanrModel>
@{
    Layout = "_Layout";
}
<div>
    <h1>Prikaz svih zanrova</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th colspan="2"></th>
        </tr>
        @foreach(ZanrModel z in Model)
        {
            <tr>
                <td>@z.Id</td>
                <td>@z.NazivZanra</td>
                <td><a href="/Zanr/Izmeni?idZanra=@z.Id">Izmeni</a></td>
            </tr>
        }
    </table>
    <div class='linkovi'>
        <div class="btn btn-info"><a class="nedekorisan" href='/Knjizara/Index'>Povratak na pocetnu stranicu</a></div>
    </div>
</div>
