@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p-->
    <h2 class="btn btn-lg btn-success"><a class="nedekorisan" href="Knjizara/Index">Knjizara</a></h2>
</div>
