html {
  font-size: 14px;
  position: absolute;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    text-align: center;
}

.linkovi {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.zanr-linkovi {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.poruka {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.unos {
    width: 100%;
}

.unos-cena {
    text-align: right;
}

.nedekorisan {
    text-decoration: none;
    color: white;
}

.nedekorisan:hover {
    color: lightgray;
}

.sortiranje {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}